{% extends 'base.html' %}
{% block content %}
<section class="card card-body text-center">
    <h1 class="page-title">Django App</h1>
    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, officia quas neque sit distinctio et iste quae autem voluptatibus deserunt blanditiis amet ipsa, eligendi dolorum quibusdam! Assumenda veniam officia odit.</p>
    <div class="mt-4">
        <a class="btn btn-outline-secondary me-2" href="/signin/">Signin</a>
        <a class="btn btn-primary" href="/signup/">Signup</a>
    </div>
</section>
{% endblock %}

