{% extends 'base.html' %}

{% block content %}

<section class="card card-body mx-auto" style="max-width:420px;">
    <h2 class="page-title text-center">Iniciar sesión</h2>
    {{error}}
    <form action="/signin/" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Write your username">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Write your password">
        </div>

        <div class="text-end">
            <button class="btn btn-primary">Signin</button>
        </div>
    </form>
</section>

{% endblock %}

